
@{
    ViewBag.Title = "GoogleMaps";
}

@*Here we set the html for our google maps code in _Layout
    We set a width and a height that suits our need on the tab "Find amagerbro på kortet"
    We use the id "map_canvas" to tell what element our map is gonna show in our _Layout.cshtml code *@
<br />
    <div id="map_canvas" style="width: 1200px; height: 500px;">
    </div>


