@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="@Url.Content("~/Content/")images/amagerbro.jpg" width="850" height="400" class="center-block" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Renovation</h2>
        <p>
            Læs om renovationen der sker på amagerbro!
        </p>
        <a href="#">@Html.ActionLink("Renovation", "Renovation", "Home")</a>
    </div>

    <div class="col-md-4">
        <h2>Ny Job</h2>
        <p>Få opdateringer om nye jobopsalg fra vores lokale butikker ved at klikke på "Jobopslag"</p>
        <a href="#">@Html.ActionLink("Jobopslag", "Job", "Home")</a>
    </div>

    <div class="col-md-4">
        <h2>Udlejning af lokale</h2>
        <p>Information omkring drivelse af lokale på amagerbro</p>
        <a href="#">@Html.ActionLink("Udlejning af lokale", "Lokale", "Home")</a>
    </div>
</div>