
@{
    ViewBag.Title = "Job";
}

@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/StyleLayout.css")" />
}

<center>
    <div>
    <br /><span class="auto-style1"><strong>JOBOPSLAG</strong></span><br />
    <br />
    Butikkerne hos både Amagerbrogade og Amagercenteret er i konstant bevægelse og har derfor besluttet at starte en side med jobopslag så du kan holde dig opdateret på hvor og hvornår du har mulighed for at søge en ledig stilling.
    Hvis du ønsker kan du uploade dit CV her på vores side. Ønsker du at arbejde i et spændende miljø med en masse mennesker så er Amagerbrogade det perfekte sted for dig.
    Husk at holde øje med denne side da der vil være ændringer i jobopslag hvor nye vil blive tilføjet og andre vil blive slettet. <br />
    <br />
    <br />
        <a href="#" class="list-group-item">Ikea - Ung medearbejder(Under 18)</a>
        <a href="#" class="list-group-item">Blockbuster - Service medarbejder(Over 18)</a>
        <a href="#" class="list-group-item">Vero Moda - Ung medearbejder(Under 18)</a>
        <a href="#" class="list-group-item">Gamestop - Medarbejder(Over 18)</a>
        <a href="#" class="list-group-item">Netto - Kasse Medarbejder(under 18)</a>
    </div><!--close sidebar-->
</center>
