
@{
    ViewBag.Title = "Lokale";
}

@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/StyleLayout.css")" />
}

<br />
<center>
    <div>
        <p>Hos Amagerbro er der muligheder for at udleje lokaler. Om du skal bruge et lokale til en konferrence eller blot til et møde iblandt kollegaer, så har du mulighed for det her.
            Vi tilbyder lydtætte lokaler i et stille miljø så der ikke skal fokuseret på unødvendig larm og andre irritationer
            Har du brug for at leje et lokale, eller ønsker yderligere information kan du ringe på nr.28253388</p>
    </div>
</center>

<div>
    <center>
        <br /><strong>Åbningstider</strong>
        <ul class="list-group">
            <li class="list-group-item">Mandag - 10:00 - 15:00</li>
            <li class="list-group-item">Tirsdag - 10:00 - 15:00</li>
            <li class="list-group-item">Onsdag - 10:00 - 15:00</li>
            <li class="list-group-item">Torsdag - 10:00 - 15:00</li>
            <li class="list-group-item">Fredag - 10:00 - 13:00</li>
            <li class="list-group-item">Lørdag - 10:00 - 11:00</li>
            <li class="list-group-item">Søndag - Lukket</li>
        </ul>
    </center>
</div>