
@{
    ViewBag.Title = "Renovation";
}

@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/StyleLayout.css")" />
}

<center>
    <br />
    <div class="background-color1">
        <div class="content_item">
            <span class="auto-style1"><strong>RENOVATION</strong></span><br />
            <br /><strong>Hvorfor:</strong>
            <br />
            <p />Vi har efter en længere periode besluttet at amagerbrogade har brug for en make-over. Dette er en beslutning vi har taget da vi finder det at gaden ikke kan leve op til moderne standarter
            Vi ønsker derfor at puste nyt liv i gaden for at gøre det væsentligt mere tiltrækkende for folk at bruge deres tid. Gaden skal være et forbillede for fremtide visioner.
            Vi håber at denne renovation vil blive så stor en succes at man om mange år vil kigge tilbage og sige, at Amagerbrogade var en frontmover og et forbillede for andre lignende gader.
            Gennemgående har vi spurgt besøgende af den nuværende Amagerbrogade, både stamfolk og nytilkommende, hvilke ideer og forbedringer de har til gaden.
            Dette har været os en kæmpe hjælp i vores mission om at skabe et nyt Amagerbro, og vi takker mange gange for alles indsats og feedback<p />
            <br />
            <br /><strong>Hvornår:</strong>
            <br />
            <p />Det er endnu ikke besluttet hvornår renovationen af Amagerbrogade vil finde sted, men vi har en forhåbning om at processen vil finde sted i starten af 2017.
            Dog skal det siges at store projekter som dette kommer til at tage tid, og planlægningen er en essentiel del af en succesfuld arbejdsprocess.
            Vi håber på at projektet vil være afsluttet omkring slutningen af 2018 hvis alting går som planlagt <p />
            <br />
            <br />
        </div>
    </div>
</center> <br>

